<div id="message-container">
  <div class="message-content active">
    <p id="message">{{error}}</p>
    <button class="message-continue" onclick="ErrorMessage.closeMessage()">Continuar</button>
  </div>
</div>