<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>dev.finance$</title>

  <link rel="icon" href="/assets/icon.svg" />
  <link rel="stylesheet" href="/css/style.css" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap" rel="stylesheet" />
</head>
<body>
  <header>
    <div class="container">
      <img id="logo" src="/assets/logo.svg" alt="Logo Dev Finance">
    </div>
  </header>

  {{{body}}}

  <footer>
    <p>2021 - dev.finance$</p>
  </footer>
  <script src="/js/scripts.js"></script>
</body>
</html>